
*{
    padding:0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.active{
    background: purple;
    color: white;
}


button{
    outline:none;
    border:none; 
    color: purple;
    background: white;   
    padding: 4px 8px;
    /* transform:scale(0.95); */
    transition:all 100ms ease-in-out;
    border-radius: 6px;
}

   button:hover{
        /* transform:scale(1.05);
        background: rgb(252, 245, 252); */
        
        cursor: pointer;
    } 
   